body {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #c8eac8;
}

.container {
  width: 100%;
  max-width: 600px;
  text-align: center;
  background-color: white;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
}

form {
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 2rem;
  text-align: left;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid grey;
  box-sizing: border-box;
}

.form-container,
.message-container {
  display: none;
}

.visible {
  display: block;
}

button {
  padding: 1rem 2rem;
  background-color: #09bbf6;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

button:hover {
  background-color: blue;
}
