body {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 3rem;
  text-align: center;
}

.container div {
  font-size: 1.5rem;
  padding: 1rem;
}

button {
  font-size: 1.3rem;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  background-color: #07d1f4;
  border: none;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: blue;
}
