body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.carousel {
  position: relative;
  max-width: 800px;
  margin: 0.5rem;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: auto;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 2rem;
}

.prev-btn {
  left: 1rem;
}

.next-btn {
  right: 1rem;
}
